{% load static %}

<div class="hidden-menu">
    <div class="hidden-menu-content">
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    </div>
    <div class="hidden-menu-icons">
    <a href="#"><img src ="#" width="24" heigth=24></a>
    <a href="#"><img src ="#" width="24" heigth=24></a>
    <a href="#"><img src ="#" width="24" heigth=24></a>
    <a href="{% url 'core:logout' %}"><img src ="{% static 'core/img/icons8-sair-24.png' %}" width="24" heigth=24 title="Fazer logout"></a>
    </div>
</div>