*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    color: blue;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

a:active{
    color: black;
}

a:hover{
    color: black;
}

.main-login{
    background-color: yellow;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.div-logo{
    width: 60%;
    background-color: green;
}

.div-login{
    width: 30%;
    background-color: orange;
    text-align: center;
}

.form-login{
    height: 300px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-group{
    width: 355px;
    height: 30px;
    background-color: red;
    margin-bottom: 20px;
    text-align: right;
}

.form-group input{
    background-color: white;
    border: 1px solid blue;
    border-radius: 4px;
    height: 28px;
    width: 270px;
    padding-left: 5px;
    padding-right: 10px;
    transition: all 300ms ease-in;
}

.form-login input:focus{
    outline: none;
}

.form-login button{
    background-color: blue;
    color: white;
    border: blue solid 10px;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    margin-bottom: 20px;
    transition: all 300ms ease-in-out;
}

.form-login button:hover{
    background-color: white;
    color: blue;
    border: blue solid 1px;
    border-radius: 4px;
    width: 80px;
    height: 40px;
}

.msg-error{
    margin-top: 5px;
    color: red;
}

/*.main-cadastro{
    background-color: green;
    width: 60%;
    height: fit-content;
    border: solid green 10px;
    padding: 20px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 15px rgb(0, 0, 0.1);
}*/

.form-cadastro{
    width: 375px;
    height: 450px;
    padding: 10px;
    background-color: whitesmoke;
    border: solid whitesmoke 10px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 15px rgb(0, 0, 0.1);
}

.form-cadastro h1{
    font-size: 28px;
    text-align: center;
    text-decoration: wavy;
}

.form-cadastro div{
    width: 375px;
    height: 28px;
    position: relative;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
}

.form-cadastro input{
    width: 270px;
    height: 28px;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid blue;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 10px;
    transition: all 300ms ease-in;
}

.form-cadastro input:focus{
    outline: none;
}

.form-cadastro label{
    position: absolute;
    right: 0;
    margin-right: 300px;
    margin-top: 7px;
}

.form-cadastro button{
    position: absolute;
    right: 0;
    width: 286px;
    height: 32px;
    margin-right: 10px;
    background-color: blue;
    color: white;
    border: blue solid 6px;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
}

.form-cadastro button:hover{
    background-color: white;
    color: blue;
    border: blue solid 1px;
    border-radius: 4px;
}

.main-header{
    background-color: blue;
    width: 100%;
    height: 60px;
    padding: 5px 0px 5px 0px;
}

.header-content{
    background-color: blue;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    transform: translateY(-25%);
    display: inline-block;
}

.header-content a{
    color: white;
    position: absolute;
    right: 0;
    margin-right: 12px;
    margin-top: 12px;
}

.header-content img{
    width: 60px;
    height: 34px;
    margin-left: 12px;
    margin-top: 3px;
}

.main-footer{
    background-color: blue;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    padding: 5px 0px 5px 0px;
}

.footer-content{
    background-color: blue;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    transform: translateY(-25%);
    display: inline-block;
}

.footer-content a{
    color: white;
}

