*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    color: blue;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

a:active{
    color: black;
}

a:hover{
    color: black;
}

.main-login{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.div-logo{
    width: 600px;
    margin-bottom: 32px;
}

.div-login{
    width: 360px;
    height: 380px;
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0px 5px 12px 0px rgb(0, 0, 0.1);
}

.form-login{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-login input{
    background-color: white;
    border: 1px solid blue;
    border-radius: 4px;
    height: 28px;
    width: 250px;
    padding-left: 5px;
    padding-right: 10px;
    transition: all 300ms ease-in-out;
}

.form-login input:focus{
    outline: none;
}

.form-login button{
    background-color: blue;
    color: white;
    border: blue solid 10px;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    margin-bottom: 20px;
    transition: all 300ms ease-in-out;
}

.form-login button:hover{
    background-color: white;
    color: blue;
    border: blue solid 1px;
    border-radius: 4px;
    width: 80px;
    height: 40px;
}

.form-group{
    width: 330px;
    height: 40px;
    margin-bottom: 20px;
    text-align: right;
}

.main-cadastro{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.div-cadastro{
    width: 360px;
    padding: 10px;
    background-color: whitesmoke;
    border: solid whitesmoke 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0px 5px 12px 0px rgb(0, 0, 0.1);
}

.form-cadastro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.form-cadastro input{
    width: 220px;
    height: 28px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 10px;
    transition: all 300ms ease-in;
}

.form-cadastro input:focus{
    outline: none;
}

.form-cadastro button{
    width: 286px;
    height: 32px;
    background-color: blue;
    color: white;
    border: blue solid 6px;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
}

.form-cadastro button:hover{
    background-color: white;
    color: blue;
    border: blue solid 1px;
    border-radius: 4px;
}

.main-header{
    background-color: blue;
    width: 100%;
    height: 60px;
    padding: 5px 0px 5px 0px;
}

.header-content{
    background-color: blue;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    transform: translateY(-25%);
    display: inline-block;
}

.header-content a{
    color: white;
    margin-top: 12px;
}

.header-content img{
    width: 60px;
    height: 34px;
    margin-left: 12px;
    margin-top: 3px;
}

.div-footer{
    position: relative;
    height: 60px;
}

.main-footer{
    background-color: blue;
    width: 100%;
    height: 60px;
    position: relative;
    padding: 5px 0px 5px 0px;
}

.footer-content{
    background-color: blue;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    transform: translateY(-25%);
    display: inline-block;
}

.footer-content a{
    color: white;
}

.msg-success{
    margin-top: 5px;
    color: green;
}

.msg-error{
    margin-top: 5px;
    color: red;
}
