{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="main-home">
  <div class="hidden-menu">
    <div class="hidden-menu-content">
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    <a href="#">Conteúdo</a>
    </div>
    <div class="hidden-menu-icons">
    <a href="#"><img src ="#" width="24" heigth=24></a>
    <a href="#"><img src ="#" width="24" heigth=24></a>
    <a href="#"><img src ="#" width="24" heigth=24></a>
    <a href="{% url 'core:logout' %}"><img src ="{% static 'core/img/icons8-sair-24.png' %}" width="24" heigth=24 title="Fazer logout"></a>
    </div>
</div>
<div class="main-dashboard">
    <div class="top-dashboard">
      <div class="dashboard-data">
        <span style="font-size: 54px;"><p id="time"></p></span>
        <span style="font-size: 24px;">{{ data_atual  }}</span>
      </div>
      <div class="dashboard-dados">
        <span style="font-size: 64px;">{{ request.user.usuario.endereco }}</span>
        <span style="font-size: 48px;">Administrador</span>
      </div>
    </div>
    <div class="bottom-dashboard">
      <a href=""><div class="bt-dash-content">Conteúdo</div></a>
      <a href=""><div class="bt-dash-content">Conteúdo</div></a>
      <a href=""><div class="bt-dash-content">Conteúdo</div></a>
    </div>
  </div>
</div>

<script src="{% static 'core/js/validacoes.js' %}"></script>
<script>horaAtual()</script>

{% endblock %}