{% extends 'baselogin.html' %}

{% load static %}

{% block content %}

{% block hiddenmenu %}
{% include 'hiddenmenu.html' %}
{% endblock %}

<div class="main-home">
  
<div class="main-dashboard p-2 p-md-4 bg-light ms-md-5">
    <div class="row">
      <div class="row">
        <h1 class="h1 col-md-12"><p id="time"></p></h1>
        <h1 class="h1 col-md-12">{{ data_atual }}</h1>
      </div>
      <div class="row align-items-baseline my-md-5">
        <h1 class="h1 col-6 text-start">{{ request.user.usuario.nome  }}</h1>
        <h1 class="h1 col-6 text-end">{{ request.user.usuario.tipo }}</h1>
      </div>
    </div>
    <div class="container row text-center">
      <a class="col col-md-4" href="{% url 'produto:produtos' %}"><div class="bt-dash-content text-danger">Produtos</div></a>
      <a class="col col-md-4" href=""><div class="bt-dash-content">Conteúdo</div></a>
      <a class="col col-md-4" href=""><div class="bt-dash-content">Conteúdo</div></a>
    </div>
  </div>
</div>

<script src="{% static 'core/js/validacoes.js' %}"></script>
<script>horaAtual()</script>

{% endblock %}